<div class="cmn-cont wrap our_prod">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <span class="navbar-brand" href="#">Manage News</span>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" routerLink="view-news" routerLinkActive="active">View news</a></li>
              <li class="nav-item active"><a class="nav-link" routerLink="add-blog" routerLinkActive="active">Add news</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="edit-news" routerLinkActive="active">Edit news</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-9 col-lg-9 col-xl-9">
         <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
