<div class="container-fluid">
  <div class="row">
    <div class="col-12 blog_title mb-5">
      <h1 class="display-4">Our News</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
    <div class="prod_rgt fl_w100" style="width:100%!important">
      <div class="grid_cnt fl_w100">
        <div class="grd_row fl_w100">
          <div class="show_sec fl"><span class="show_txt">Showing: </span>
            <span class="show_count">1 of 1</span>
          </div>
          <div class="grd_rgt fr">
            <a class="grd_thumb" style="line-height: 26px;" routerLink="grid-view" routerLinkActive="active"><i class="fa fa-th"></i></a>
            <a class="grd_lst" style="line-height: 26px;" routerLink="list-view" routerLinkActive="active"><i class="fa fa-list"></i></a>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
