<header class="mnu-hdr fl_w100">
  <div class="container">
    <div class="row">
      <div class="hd-left fl"><a>SLIDER</a></div>
      <div class="hd-rgt fr">
        <ul>
          <li>
            <a routerLink="/news" title="Latest News">
                  <div class="mnu_txt">Latest News</div>
                  <div class="arrow-up"></div>
            </a>
          </li>
          <li><a routerLink="admin/manage-news/view-news">Manage news</a></li>
          <li>
            <a id="prod_lnk" title="My Excercise">
              <div class="mnu_txt">Excercise</div>
              <div class="arrow-up"></div>
            </a>
            <div class="fl prod_lft mnu_cnt">
              <ul class="prod_lst">
                <li><a href="#">Angular Excercise</a></li>
                <li><a routerLink="excercise/products/list"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Products</a></li>
                <li><a routerLink="excercise/students/list"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Students</a></li>
                <li><a routerLink="excercise/doctors/list"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Doctors</a></li>
                <li><a routerLink="excercise/institution/profile"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Institution</a></li>
                <li><a routerLink="excercise/custom-functions"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Custom Functions</a></li>
                <li><a routerLink="excercise/buildin-functions"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Build in Functions</a></li>
                <li><a routerLink="excercise/user/registeration"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> User Registeration</a></li>
                <li><a routerLink="excercise/user/cart/payment"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Cart Payment</a></li>
                <li><a routerLink="excercise/user/hospital/admission"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Hospital Admission</a></li>
                <li><a routerLink="excercise/master/navigation"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Master Navigation</a></li>
                <li><a routerLink="excercise/list/trainers"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> List Trainers</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
